#!/usr/bin/env sh

set -x #echo on

BUILD_DIR={{ obj.buildDir }}/bin
DATA_DIR={{ obj.config.dataDir }}
BTTC_DATA_DIR={{ obj.panoDataDir }}
GENESIS_PATH={{ obj.genesis.panoGenesisFilePath }}

# create pano, logs and keystore directory
mkdir -p $DATA_DIR/logs

# init pano
$BUILD_DIR/pano --datadir $BTTC_DATA_DIR init $GENESIS_PATH

echo "Setup done!"